# ── secretos ──────────────────
.env

# ── Python ────────────────────
venv/

# ── Node/Vite ─────────────────
frontend/node_modules/

# (opcional) ignora lockfile si no lo quieres trackear
# frontend/package-lock.json

frontend/dist
